.main {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.main > * {
  flex: 1 1 calc(33.33% - 0.3rem); /* Each item takes up 1/3 of the container minus the gap */
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
}



.news-card {
    position: relative;
    width: 24rem;
    height: 29rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .news-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .news-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    color: #fff;
  }
  
  .news-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .news-category,
  .news-locale {
    font-size: 0.875rem;
  }
  